/******************************************************************************
START Glitch hello-app default styles

The styles in this section do some minimal CSS resets, set default fonts and 
colors, and handle the layout for our footer and "Remix on Glitch" button. If
you're new to CSS they may seem a little complicated, but you can scroll down
to this section's matching END comment to see page-specific styles.
******************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Our default values set as CSS variables */
:root {
  --color-bg: #BDC9FF;
  --color-text-main: #000000;
  --color-primary: #7581bc;
  --color-header: #d45d5d;
  --color-button: #f997a2;
  --color-button-hover: #ccc;
  --wrapper-height: 87vh;
  --image-max-width: 300px;
  --image-margin: 3rem;
  --font-family: "Roboto", sans-serif;
  --font-family-header: "Roboto", sans-serif;
}

/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

/******************************************************************************
END Glitch hello-app default styles
******************************************************************************/

body {
  font-family: var(--font-family);
  background-color: var(--color-bg);
}

/* Page structure */
.wrapper {
  min-height: var(--wrapper-height);
  display: grid;
  place-items: center;
  margin: 0 1rem;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  min-width: 300px;
}

/* Title h1 style */
.title {
  color: var(--color-header);
  font-family: var(--font-family-header);
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 105%;
  margin: 0 0 2rem;
}

.hitPoints {
  font-size: 1.4rem;
}

.columns {
  display: flex;
  justify-content: space-around;
}

.button {
  font-family: inherit;
  font-size: 100%;
  background: var(--color-button);
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  opacity: 1;
  transition: background-color 0.3s, border-color 0.3s;
}
.button:hover {
  background: var(--color-button-hover);
  border-color: #999;
  /* opacity: 0.6; */
}

.button_type_disabled {
  cursor: default;
  opacity: .2;
  pointer-events: none;
}