<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/style.css" />
    <title>Тестовое задание Node.js + Vanila JS</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="content" role="main">
        
        <h1 class="title">{{header}}</h1>
        
        <nav>
          <a href={{nextPage}}>Следующая страница</a>
        </nav>

        <div class="hitPoints">
          <p>Здоровье: <span class="hitPoints__value">{{hitPoints}}</span></p>
        </div>

        <div class="columns">
          <div class="columns__first">
            <button id="button__hp-remove" class="button button_remove">Убрать HP</button>
          </div>
          <div class="columns__second">
            <button id="button__hp-add" class="button button_add">Добавить HP</button>
          </div>
        </div>

      </div>
    </div>

    <script type="module" src="/script.js" defer></script>

  </body>
</html>
